body {
    color: white;
    background: #1C1C1C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Container holding the image and the text */
.main {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    max-height: 250px;
    max-width: 100%;
}

.input {
    position: relative;
    width: 50%;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 20px auto;
    font-size: 1rem;
}

.search-btn {
    cursor: pointer;
    margin: 10px 20px;
    border-radius: 5px;
    padding: 1rem 2rem;
    border: 2px solid gray;
    background: #81e0ff;
    font-weight: bold;
    /* position: relative; */
    /* right: 5%; */
}

.search-btn:hover {
    background: #6fd4f6;
    color: #1C1C1C;
}

.movies {
    margin: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.movie {
    margin: 20px auto;
    max-width: 800px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
    flex-wrap: wrap;
}

.movie__hero {
    /* flex: 0 0 45%; */
    margin: 0;
    padding: 10px;
}

.movie__img {
    width: auto;
    /* height: 100%; */
    /* display: block; */
}

.movie__content {
    background-color: transparent;
    color: white;
    flex: 1;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
}

.movie__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.heading__primary {
    font-size: 20px;
    margin-right: auto;
    color: white;
}

.fa-fire {
    color: salmon;
}

.movie__tag {
    font-size: 10px;
    color: #000;
    padding: 2px 7px;
    border-radius: 100px;
    margin-right: 8px;
    display: block;
    text-transform: uppercase;

}

.movie__tag--1 {
    background-color: #A9C9FF;
}

.movie__tag--2 {
    background-color: #FFBBEC;
}

.movie__description {
    font-size: 14px;
    text-align: justify;
}

.movie__details {
    display: flex;
    margin: auto;
}

.movie__detail {
    font-size: 13px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.icons i {
    margin-right: 3px;
    font-size: 18px;
}

.icons-red {
    color: salmon;
}

.icons-grey {
    color: grey;
}

.icons-yellow {
    color: rgb(190, 190, 71);

}

.movie__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

}
