@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;1,300;1,400&display=swap');
 
* {
    margin: 0;
    padding: auto;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    color: white;
    background-color: #121429;
}

ul {
    list-style-type: none;
}

ul > li {
    padding: 15px;
}

nav, .nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.study-img {
    width: 350px;
    height: auto;
}

/* about */

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
    max-width: 390px;
}

/* tracks */

.center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.track-img {
    width: 192px;
    height: auto;
}