@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;1,300;1,400&display=swap');
 
* {
    margin: 0;
    padding: auto;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    color: white;
    background-color: #121429;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav-logo {
    
}

.nav-item {
    display: flex;
    padding: 10px;
}

.about {
    margin: 50 0px;
}

.study-img {
    width: 350px;
    height: auto;
}