body {
    background-color: #b5ccf3;
    font-family: 'Courier New', Courier, monospace;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

input {
    background: #dff2fa;
    width: 20%;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid black;
}

.add_btn {
    background-color: aqua;
    border-radius: 5px;
    margin: 25px auto;
    padding: 8px  12px;
    border: 2px solid black;
}