@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  margin: 0;
}

body {
  background: rgb(23, 26, 35);
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  /* padding: 8px; */
}

/* CSS */
.btn-blue {
  align-items: center;
  appearance: button;
  background: #246bfd;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-blue:active {
  background-color: #006AE8;
}

.btn-blue:hover {
  background-color: #1C84FF;
}


/* .btn-blue {

  background: #246bfd;
  color: white;
  padding: 8px;
} */

.vr-line {
  border-left: 1px solid rgb(115, 115, 115);
  height: 35px;
  margin-left: 20px;
  margin-right: 0;
}

/* nav, .nav-list  {
    background-color: rgba(0, 0, 0, 0.6); 
    color: rgba(214, 206, 138, 0.6);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
} */

nav,
.nav-list {
  background-color: rgba(0, 0, 0, 0.6);
  color: #a7aeb9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  justify-content: start;
}

.nav-left {
  margin-right: auto;
  padding: 10px;
  padding-left: 30px;
}

.nav-left > li {
    padding-right: 60px;
}


.nav-right {
    padding-right: 80px;
}

.nav-right > li {
    padding: 10px;
}

.nav-logo {
    padding: 10px;
    padding-left: 80px;
}

.highlight {
    background: #A100FF;
    background: linear-gradient(to right, #A100FF 27%, #0080FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}