@import url("http://fonts.cdnfonts.com/css/clash-display");

* {
  margin: 0;
}

body {
  background: rgb(23, 26, 35);
  color: rgb(255, 255, 255);
  font-family: "Clash Display", sans-serif;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  /* padding: 8px; */
}

.btn-blue {
  align-items: center;
  appearance: button;
  background: #246bfd;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-blue:active {
  background-color: #006ae8;
}

.btn-blue:hover {
  background-color: #1c84ff;
}

.vr-line {
  border-left: 1px solid rgb(115, 115, 115);
  height: 35px;
  margin-left: 20px;
  margin-right: 0;
}

nav,
.nav-list {
  background-color: rgba(0, 0, 0, 0.9);
  color: #a7aeb9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  justify-content: start;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-left {
  margin-right: auto;
  padding: 10px;
  padding-left: 30px;
}

.nav-left > li {
  padding-right: 60px;
}

.nav-right {
  padding-right: 80px;
}

.nav-right > li {
  padding: 10px;
}

.huddle-logo {
  padding: 10px;
  padding-left: 80px;
}

.highlight {
  background: #a100ff;
  background: linear-gradient(to right, #a100ff 27%, #0080ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-heading {
  font-size: 55px;
  font-weight: 700;
  font: bold;
}

.main-para {
  font-weight: 500;
  font-size: 20px;
  width: 650px;
  text-align: center;
  padding: 30px 0 20px 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.btns {
  display: flex;
}

.btns > button {
  padding: 24px 64px;
}

.btn-black {
  align-items: center;
  background: rgb(23, 26, 35);
  border: solid 2px gray;
  border-radius: 8px;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-margin {
  margin: 10px;
}

.btn-black:active {
  background: rgb(41, 45, 57);
}

.btn-black:hover {
  background: rgb(37, 41, 53);
}

.purple {
  color: #cabdff;
  font-size: 14px;
}

.green {
  color: #b1e5fc;
  font-size: 14px;
}

.pink {
  color: #ffbdcd;
  font-size: 14px;
}

.app-links {
    margin: 30px;
}

.app-links > span {
    padding: 10px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1333px;
    height: auto;
}

.features {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-heading {
    padding: 20px;
    font-size: 40px;
    font-weight: 600;
    font: bold;
    width: 600px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.feature-card {
    display: flex;
    flex-direction: column;
    margin: 28px;
    padding: 28px;
    justify-content: center;
    align-items: center;
    background: rgb(16, 18, 23);
    border-radius: 25px;
}

.feature-card:hover {
    border: 1px solid #b6a7f3;;
}

.feature-card > span {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 500;
}

.frens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fren-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.fren-logo {
    margin: 20px;
}

.fren-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 290px;
    height: 111px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.529);
}

.frens-heading {
    font-size: 40px;
    font-weight: 700;
}

.try-huddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.try-heading {
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
    margin: 20px;
}

.reach-out {
    padding: 20px;
    background: url("./assets/Reach.png") center center / cover;
    border-radius: 20px;
    width: 1500px;
    height: 280px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reach-out > span {
    font-size: 32px;
    width: 600px;
    text-align: center;
    padding: 20px;
}

.footer-left {
    margin-right: auto;
}

.footer-center {
    margin-right: auto;
}

footer > div {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

footer > div > a {
    padding: 15px;
    font-size: 24px;
}

footer > div > span {
    padding: 15px;
    font-size: 16px;
    word-spacing: 0.2rem;
}