.App {
  text-align: center;
}

h2 {
  margin-top: 15px;
  margin-bottom: auto;
  padding: 0;
}

h3 {
  margin-top: 15px;
  margin-bottom: auto;
  padding: 0;
}

p {
  text-align: justify;
  padding: 0 30px;
}

button {
  padding: auto;
  width: 247px;
  height: 34px;
  justify-content: center;
  font-size: 18px;
  background: #d1d5db;
  margin-top: 15px;
  border-radius: 16px;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: wheat;
}

/* selected link */
a:active {
  color: black;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.layout {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  color: white;
  background-color: #23252c;
}

/* @media only screen and (min-width: 800px) {
  .layout {
  flex-direction: row;
    
    max-width: 50%;
  }
  
} */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagePortrait {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interests {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding: 15px;
  background-color: #161619;
}

.socialIcons {
  padding: 5px;
}
