/* .main {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
} */

.center {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  padding: 10px;
  justify-content: center;
  justify-items: center;
  background-color: sandybrown;
}

.nav-logo {
  height: auto;
  display: flex;
  padding: 10px;
}

/* .flex-col {
  display: flex;
  flex-direction: column;
} */

.card {
  margin: 30px;
  padding: 20px;
  display: flex;
  max-width: 50%;
  height: auto;
  /* justify-content: center; 
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  flex-direction: column; */
}

.card-image {
  max-width: 200px;
  height: 250px;
  border-radius: 10px;
  margin: 25px;
}

.card-content {
  display: flex;
  flex-direction: column;
  margin: 25px;
  justify-content: center;
  justify-items: center;
}

.location-details {
  display: flex;
  justify-items: center;
}

.pin {
  max-width: 10px;
  height: 20px;
  padding-right: 5px;
}

.location {
  padding-left: 5px;
}

.link {
  padding-left: 10px;

}

p {
  text-align: justify;
}


@media (max-width: 450px) {
  .card {
    margin: 30px;
    padding: 20px;
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: center; 
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    
  }
  
  .card-image {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin: 25px;
  }
  
 

}