/* .main {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
} */

.navbar {
  display: flex;
  padding: 10px;
  justify-content: center;
  justify-items: center;
  background-color: sandybrown;
}

.nav-logo {
  height: auto;
  display: flex;
  padding: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 30px;
  padding: 20px;
  display: flex;
  max-width: 50%;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  flex-direction: column;
  border: solid 1px;
  border-radius: 20px;
}

.card-image {
  display: flex;
  max-width: 125px;
  height: 168px;
  border-radius: 10px;
}