body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  background-color: forestgreen;
  color: white;
  text-align: center;
}

h1 {
  margin: 30px;
  color: goldenrod;
  font-size: 48px;
}

button {
    margin: 5px auto;
    display: block;
  font-weight: bold;
  padding: 5px;
  font-size: 18px;
  color: #016f32;
  width: 150px;
  height: 50px;
  /* border: none; */
  border-radius: 5px;
  background: goldenrod;
}

#message {
  font-style: italic;
}
