.App {
  text-align: center;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 40px;
}

h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 40px;
}