.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.nav {
  display: flex;
  justify-items: center;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.nav-logo {
  max-width: 60px;
  padding: 30px;
  /* padding-left: 30px; */
}
