* {
    margin: 0;
}

body {
    background: wheat;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background: white;
}

.box {
    height: 100px;
    width: 320px;
}

.one {
    background: aqua;
    /* flex-grow: 1; */
    flex-shrink: 1;
}

.two {
    background: whitesmoke;
    /* flex-grow: 1; */
    flex-shrink: 2;
}

.three {
    background: salmon;
    /* flex-grow: 1; */
    flex-shrink: 3;
}