html {
    min-height: 100%;
    background: rgb(36,244,255);
    background: linear-gradient(329deg, rgba(36,244,255,1) 0%, rgba(75,115,255,1) 35%, rgba(35,221,255,1) 70%, rgba(75,115,255,1) 100%); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    text-align: center;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 20px;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid black;
}

.message {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

.success {
    font-size: 24px;
    font-weight: bold;
    color: rgb(31, 47, 41);
}
