body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    /* background: linear-gradient(white, gray); */
    height: 100vh;
    color: #e98a1d;
    padding: 50px;
    background-color: #fbd6aa;
}

h1 {
    text-shadow: 0px 3px 0px black;
    line-height: 24px;
    transform: rotate(-9deg);
}

#stage {
    width: 100%;
    height: 60px;
    padding: 30px 0;
    font-size: 50px;
    margin: 0;
}

button {
    margin: 20px;
    cursor: pointer;
    border: 0;
    padding: 8px 16px;
    border-radius: 10px;
    background: #e98a1d;
    color: white;
    font-family: inherit;
    font-size: 20px
}